In [5]:
def test1():
    print("this is my first function")

In [6]:
test1()

this is my first function

In [7]:
test1() + "sajid"

this is my first function

<class 'TypeError'>: unsupported operand type(s) for +: 'NoneType' and 'str'

In [8]:
def test2():
    return "this is my first return "

In [9]:
test2()

'this is my first return '

In [10]:
test2() + "sajid"

'this is my first return sajid'

In [11]:
def test3() :
    return "sajjid", 23, 45.3, [1,34,4,9]

In [12]:
test3()

('sajjid', 23, 45.3, [1, 34, 4, 9])

In [13]:
a,b,c,d = test3()

In [14]:
a

'sajjid'

In [15]:
b

23

In [16]:
c

45.3

In [17]:
d

[1, 34, 4, 9]

In [18]:
def test4():
    a = 5+6/7
    return a

In [19]:
test4()

5.857142857142857

In [20]:
def test5(a,b,c) :
    d = a**2 + b**3 + c**8
    return d

In [21]:
test5(4,2,3)

6585

In [22]:
def test6(a,b) :
    return a+b

In [23]:
test6(3,4)

7

In [24]:
test6("sajid" , " ali")

'sajid ali'

In [25]:
test6([1,3,5,6,8], [63,4,5,6])

[1, 3, 5, 6, 8, 63, 4, 5, 6]

In [28]:
def type98(p,r,t) :
    """Simple Interest Formula Function""" #docstring the function
    s = p*r*t/100
    return s

In [29]:
type98(1000,5,1)

50.0

In [30]:
l = [1,4,5,6, "sajid", "ali", [4,5,8,9]]

In [31]:
# making a custom function that brings out integer and float from the list

In [32]:
# before making the function, lets brings out the integer and float from the list
l1 = []
for i in l :
    if type(i) == int or type(i) == float :
       l1.append(i)

In [33]:
l1

[1, 4, 5, 6]

In [35]:
#now making a function that briinbgs out integer and f;oat from the list
def test7(l) :
    l1 = []
    for i in l :
        if type(i) == int or type(i) == float :
           l1.append(i)
    return l1

In [36]:
test7(l)

[1, 4, 5, 6]

In [38]:
l23 = [1,9,6,55,6,7,8,"sajid","ali"]

In [40]:
test7(l23)

[1, 9, 6, 55, 6, 7, 8]

In [ ]:
# building functiion to bringing out integer from inside list of list

In [56]:
def test8(l):
    l1 = []
    for i in l :
        if type(i) == list:
            for j in i :
                l1.append(j)
        else :
            if type(i) == int or type(i) == float :
                l1.append(i)
    return l1

In [47]:
test8(l)

[1, 4, 5, 6, 4, 5, 8, 9]

In [50]:
l67 = [2,4.8867,99.66,[3,9,74,5],'sajid','ali']

In [51]:
test8(l67)

[2, 4.8867, 99.66, 3, 9, 74, 5]

In [ ]:
def test9(l):
     """bring out integers from list even from list inside list""" #docstring the function
     for i in l :
        if type(i) == list:
            for j in i :
                l1.append(j)
        else :
            if type(i) == int or type(i) == float :
                l1.append(i)
    return l1

In [58]:
# starik arguments function
def test11(*args):
    return args

In [60]:
test11()

()

In [62]:
test11("sajid",1,1,2,3,[53,4,4,5,9])

('sajid', 1, 1, 2, 3, [53, 4, 4, 5, 9])

In [63]:
def test12(*sajid) :
    return sajid

In [64]:
test12(1,2,3,4)

(1, 2, 3, 4)

In [73]:
def test13(*args , a) :
    return args, a

In [75]:
test13(1,2,4,6,7,8)

<class 'TypeError'>: test13() missing 1 required keyword-only argument: 'a'

In [76]:
test13(1,3,5,767, a = 23)

((1, 3, 5, 767), 23)

In [79]:
def test14(c,d, a =12, b= 24):
    return a,b,c,d

In [80]:
test14()

<class 'TypeError'>: test14() missing 2 required positional arguments: 'c' and 'd'

In [82]:
test14(3,4)

(12, 24, 3, 4)

In [83]:
test14(4,6, a =34584)

(34584, 24, 4, 6)

In [84]:
# diictionary arguments function
def test15(**kwargs):
    return kwargs

In [85]:
test15()

{}

In [89]:
type(test15())

dict

In [90]:
test15(a=[1,2,4,5], b= "sajid" , c=37.6)

{'a': [1, 2, 4, 5], 'b': 'sajid', 'c': 37.6}